
body {
    background-repeat: repeat;
    background-color: rgb(250, 250, 250);
    background-image: url(../images/bg.png);
    background-size: 7.5vh, 7.5vh
}

.background {
    display:block;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(150, 150, 150, 0.5),
        rgba(225, 225, 225, .9),
        rgba(150, 150, 150, 0.5)
    );
}


.titleText {
    width: 25%;
    display: block;
    border-radius: .25em;
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
}


.inputBox {
    width: 25%;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    border-radius: .25em;
    padding: .5%;
    border: solid rgba(0,0,0,.9) .2vh;
    margin-top: .5%;
    font-size: 1vw;
}

.listHolderHolder {
    height: auto;
    display: block;
    transition: all 1s ease-in-out;
}

.listedBoxHolder {
    width: 90%;
    height: auto;
    left: 10%;
    position: relative;
    display: inline-block;
    border-radius: 1vh;
    padding: .5%;
    border: solid rgba(0,0,0,.9) .2vh;
    margin-top: .5%;
    margin-left: -25%;
}

.listedBox {
    width: 99%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    border-radius: 1vh;
    text-align: left;
    font-size: 1em;
    border: solid rgba(0,0,0,0) 0em !important;
    background-color: rgba(0,0,0,0) !important;
}

.checkButton {
    display: inline-block;
    position: relative;
    height: 100%;
    background-color: rgba(55,255,55,.1);
    margin-right: 2.5%;
    width: 45%;
    padding: .5%;
    border-radius: 1vh;
    border: solid rgba(0,0,0,.9) .2vh;
}

.removeButton {
    display: inline-block;
    position: relative;
    height: 100%;
    background-color: rgba(255,55,55,.1);
    margin-left: 2.5%;
    width: 45%;
    padding: .5%;
    border-radius: 1vh;
    border: solid rgba(0,0,0,.9) .2vh;
}

.listedBox:focus {
    outline: none;
}

.listedBox::placeholder {
    color: rgba(0,0,0,1);
}


.submitButton {
    width: 20%;
    display: block;
    padding: .5%;
    border-radius: .45em;
    border: solid rgba(0,0,0,.9) .2em;
    margin-top: .5%;
    font-size: 1vw;
}


.listedInfo {
    background-color: rgba(255, 255, 255,.25);
}


.listedCheck {
    width: 5vh;
    height: 5vh;
    display: inline-block;
    position: relative;
    left: 60%;
}


.list {
    background-color: rgba(0, 0, 0, .15);
    display: block;
    position: relative;
    margin-top: 5vh;
    border-radius: 1vw;
    border: solid rgba(0,0,0,.9) .25vw;
    width: 90vw;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

